<ion-content no-padding>
    <ion-grid no-padding class="head-grid">
      <img src="../../assets/images/service_bg_img.png" alt="Background image">
      <a (click)="goToHomePage()"><img src="../../assets/images/volkSevis_logo.png" class="inner-logo" alt="Logo"></a>
    </ion-grid>
    <ion-grid padding class="content-grid">
      <h1 class="mt-1">Login</h1>
      <form class="mt-5">
              <ion-input class="my-2" placeholder="Login with Email:" type="text"></ion-input>
              <ion-input class="my-2" placeholder="Enter Password:" type="password"></ion-input>
              <a class="forgetPassword my-2" href="#">Forget Password?</a>
              <button ion-button class="buttonFill p-3 rounded w-100 mt-4" type="submit">Login</button>
        </form>
    </ion-grid>
    </ion-content>
    