<ion-content no-padding>
    <ion-grid no-padding class="head-grid">
      <img src="../../assets/images/service_bg_img.png" alt="Background image">
      <a (click)="goToHomePage()"><img src="../../assets/images/volkSevis_logo.png" class="inner-logo" alt="Logo"></a>
    </ion-grid>
    <ion-grid padding class="content-grid">
      <h1 class="mt-1">Login</h1>
      <form class="mt-3">
          <ion-list class="">
              <ion-item class="mb-3">
                <ion-label position="floating">Login with Email:</ion-label>
                <ion-input class="my-2" required type="text"></ion-input>
              </ion-item>
              <ion-item class="mb-3">
                  <ion-label position="floating">Enter Password:</ion-label>
                  <ion-input class="my-2" required type="password"></ion-input>
                </ion-item>
            </ion-list>
              <a class="forgetPassword my-2" href="#">Forget Password?</a>
              <button ion-button class="buttonFill p-3 rounded w-100 mt-4" type="submit">Login</button>
        </form>
    </ion-grid>
    </ion-content>
    