<ion-content no-padding>
    <ion-grid no-padding class="head-grid">
      <img src="../../assets/images/innerPage_header.png" alt="Background image">
      <a (click)="goToHomePage()"><img src="../../assets/images/backTohome.svg" class="backToHome" width="18" alt="Back to home"></a>
      <h2>Image and Portfolio</h2>
      <p class="subTitle-c">Manage Photos & Videos</p>
    </ion-grid>
    <ion-grid padding class="content-grid-inner">
 
      <ion-grid no-padding>
       <div class="grid-icon">
         <img src="../../assets/images/profile_picture.png" alt="">
       </div> 
       <div class="grid-information">
         <h4>Change Profile Picture</h4>
         <p>A professional photo with smile</p>
       </div>
       <span class="edit">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
       </span>
      </ion-grid>
      <ion-grid no-padding>
          <div class="grid-icon">
            <img src="../../assets/images/coverChange.png" alt="">
          </div> 
          <div class="grid-information">
            <h4>Change Cover Picture</h4>
            <p>Beautify your profile cover picture</p>
          </div>
          <span class="edit">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </span>
         </ion-grid>
         <ion-grid no-padding>
            <div class="grid-icon">
              <img src="../../assets/images/work_photo_galler.png" alt="">
            </div> 
            <div class="grid-information">
              <h4>Work Photo Gallery</h4>
              <p>Add photos to your work gallery</p>
            </div>
            <span class="edit">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
           </ion-grid>
           <ion-grid no-padding>
              <div class="grid-icon">
                <img src="../../assets/images/work_video_gallary.png" alt="">
              </div> 
              <div class="grid-information">
                <h4>Work Video Gallery</h4>
                <p>Add your videos and value</p>
              </div>
              <span class="edit">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </span>
             </ion-grid>
    </ion-grid>
    </ion-content>
    