<ion-header>
  <ion-grid no-padding class="head-grid inner-grid">
    <img src="../../assets/images/innerPage_header.png" alt="Background image">
    <a (click)="goToHomePage()">
      <img src="../../assets/images/backTohome.svg" class="backToHome" width="24" alt="Back to home">
    </a>
    <h2>Catalog Management</h2>
    <!-- Default Progressbar with 50 percent -->
    <ion-progress-bar color="secondary" value="0.8"></ion-progress-bar>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding class="content-grid-inner">
    <ion-item no-padding (click)="detailPage()" detail>
      <ion-label>
        Pre Wedding Shoot
      </ion-label>
    </ion-item>
    <ion-item no-padding (click)="detailPage()" detail>
      <ion-label>
        Plumbers
      </ion-label>
    </ion-item>
    <ion-item no-padding (click)="detailPage()" detail>
      <ion-label>
        Printer Repair
      </ion-label>
    </ion-item>
    <ion-item no-padding (click)="buttonClick()" detail>
      <ion-label>
        Portraits and Portfolio Shoots
      </ion-label>
    </ion-item>
    <ion-item no-padding (click)="buttonClick()" detail>
      <ion-label>
        Painters
      </ion-label>
    </ion-item>
    
  </ion-grid>
</ion-content>