// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

@import url("https://fonts.googleapis.com/css?family=Oswald");

@import url("https://fonts.googleapis.com/css?family=Lato");

@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css");

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666;
}

a {
    color: #228585;
}

h1 {
    color: #4cb6be;
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h2 {
    color: #4cb6be;
    font-size: 24px;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.swiper-slide {
    img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        -webkit-clip-path: circle(73% at 50% 28%);
        clip-path: circle(73% at 50% 28%);
    }
}

.swiper-pagination-bullet {
    opacity: 1;
    width: 14px;
    height: 14px;
}

.home-slider {
    position: relative;
    height: 100%;
    background: #1b6b6e;

    .bottom-content {
        color: #fff;
        text-align: center;
        margin: 20px auto;
        display: block;
        width: 200px;

        label {
            display: block;
            font-size: 20px;
            background: #257f82;
            border-radius: 40px;
            padding: 0 10px;
            box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.11);
            width: 77%;
            margin: 0 auto;
            font-family: 'Oswald', sans-serif;
            line-height: 44px;
            height: 45px;
            color: #103b49;
        }

        button {
            width: 60px;
            height: 60px;
            border-radius: 60px;
            background: #103b49;
            font-size: 29px;
            color: #708992;
            text-align: center;
            display: inline-block;
            -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.11);
            -moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.11);
            border: 0;
            outline: 0;
            cursor: pointer;

            &:last-of-type {
                background: #134657;
                margin-left: -10px;
            }
        }

        a {
            display: block;
            text-decoration: underline;
            color: white;
            bottom: 30px;
            position: absolute;
            opacity: 0.6;
            cursor: pointer;
            z-index: 99;
        }
    }
}

.head-grid {
    background: linear-gradient(to bottom, #228484 0%, #144c58 100%);
    position: relative;
    z-index: 9;
    overflow: hidden;

    &.inner-grid {
        position: fixed;
        height: 104px;
    }

    h2 {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        text-align: center;
        top: 16px;
        color: #fff;
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        width: 72%;
    }

    img {
        &.inner-logo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 130px;
            margin: auto;
        }
    }

    .subTitle-c {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 52px;
        text-align: center;
        color: #c0ebe7;
    }
}

.content-grid {
    position: relative;
    z-index: 9;
    top: -90px;
    margin-bottom: -90px;
    background: #fff;
    width: 90%;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.11);
    min-height: 276px;
}

.buttonFill {
    background: linear-gradient(to right, rgba(17, 64, 77, 1) 0%, rgba(30, 116, 117, 1) 100%);
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

form {
    ion-label {
        width: 100%;
    }
}

.forgetPassword {
    text-decoration: underline;
    display: block;
    float: right;
}

.backToHome {
    position: absolute;
    left: 25px;
    top: 25px;
}

ion-progress-bar {
    position: absolute;
    top: 66px;
    height: 8px;
    width: 89%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.awaiting {
    position: relative;
    text-align: center;
    height: auto;

    h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        color: #136785;
    }

    hr {
        position: absolute;
        height: 8px;
        top: 0;
        background: #136785;
        width: 100%;
        margin: 0;
        left: 0;
    }
}

.content-grid-inner {
    position: relative;
    top: 122px;
    margin-bottom: 0;
    background: none;
    width: 90%;
    padding: 0;
    overflow: hidden;
    z-index: 8;

    &.business-inner {
        top: 222px;
    }

    .search-service-provide {
        position: relative;
        background: #134657;
        color: #fff;
        height: 70px;

        .serce-icon-c {
            background: #07edff;
            display: inline-block;
            height: 100%;
            position: relative;
            width: 64px;
            font-size: 30px;
            text-align: center;
            line-height: 70px;

            &:after {
                border-left: 28px solid #07edff;
                border-top: 37px solid transparent;
                border-bottom: 37px solid transparent;
                content: "";
                height: 100%;
                right: -27px;
                position: absolute;
                top: -1px;
                width: 0;
            }
        }

        ion-input {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 70%;
            margin: auto;
        }
    }

    .search-service-ul {
        li {
            &.list-group-item {
                padding: 20px;

                &:first-child, &:last-child {
                    border-radius: 0;
                }

                &:nth-child(odd) {
                    background: #f1f1f1;
                }

                &:nth-child(even) {
                    background: #ffffff;
                }
            }
        }
    }

    ion-grid {
        position: relative;
        height: 96px;
        margin-bottom: 20px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);

        .grid-icon {
            width: 76px;
            height: 100%;
            float: left;
            background: #136785;
            line-height: 96px;
            text-align: center;
            position: relative;

            &:after {
                width: 20px;
                height: 100%;
                position: absolute;
                content: '';
                -webkit-transform: skew(20deg);
                transform: skew(9deg);
                background: #136785;
                right: -11px;
                top: 0;
            }
        }

        .grid-information {
            display: inline-block;
            height: 100%;
            padding: 0 10px;

            h4 {
                font-size: 22px;
                font-family: 'Oswald', sans-serif;
                color: #134657;
                margin-top: 20px;
                padding-left: 15px;
                width: 100%;
                max-width: 96%;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
                min-width: 200px;
            }

            p {
                padding-left: 15px;
            }

            button {
                background: #136785;
                height: 40px;
                border-radius: 40px;
                padding: 6px 17px;
                color: #fff;
                font-size: 20px;
                font-family: 'Oswald', sans-serif;
                float: left;
                position: absolute;
                right: 31px;
                top: 40px;
                cursor: pointer;
            }
        }

        span {
            &.edit {
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                height: 50px;
                color: #fff;
                text-align: center;
                font-size: 18px;
                border-top: 50px solid #07ebfd;
                border-left: 50px solid transparent;
                cursor: pointer;

                i {
                    position: absolute;
                    left: -20px;
                    top: -42px;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}

button {
    &.button-main {
        padding: 10px 30px;
        background: linear-gradient(to right, #12404f 0%, #1e7475 100%) !important;
        color: white !important;
        border-radius: 50px;
        line-height: normal;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;

        &:focus {
            outline: none;
            border: 0;
            box-shadow: none;
        }
    }
}

alert-wrapper {
    button {
        background: auto !important;
        color: inherit !important;
    }
}

ion-label[position="floating"], ion-radio-group ion-list-header {
    color: #136785 !important;
}

ion-radio-group {
    ion-radio {
        margin-inline-end: 12px;
    }
    ion-item {
        --inner-border-width: 0;
    }
}

.business-info-pp {
    position: fixed;
    top: 104px;
    background: #134657;
    color: #fff;
    padding: 10px 0;
    height: 102px;
    width: 100%;
    z-index: 10;

    .profile-picture {
        position: absolute;
        top: -22px;
        z-index: 99;
        a {
            position: absolute;
            right: 3px;
            top: 6px;
            font-size: 24px;
            color: white;
        }
    }
}

.topAdjust {
    .backToHome {
        top: 45px;
    }
}

.upload-profile-pic {
    background: #26b6ba;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    text-align: center;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
    line-height: 142px;

    img {
        width: 100px;
        margin: auto;
    }
}

.upload-profile-picture-w {
    ion-list {
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
        box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
        padding: 20px;
        margin: 0;

        ion-item {
            --padding-start: 0;
            .fa {
                color: #26b6ba;
            }
            &:last-of-type {
                --inner-border-width: 0;
            }
        }
    }
}
