<ion-content no-padding>
  <ion-grid no-padding class="head-grid inner-grid">
    <img src="../../assets/images/innerPage_header.png" alt="Background image">
    <a (click)="goToHomePage()">
      <img src="../../assets/images/backTohome.svg" class="backToHome" width="24" alt="Back to home">
    </a>
    <h2>Select a Service</h2>
  </ion-grid>
  <ion-grid padding class="content-grid-inner select-service-inner w-100">
    <!-- <ion-grid no-padding class="search-service-provide mb-0">
      <div class="serce-icon-c">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <ion-input placeholder="What service do you provide?" type="text"></ion-input>
    </ion-grid> -->
   <ul class="list-group search-service-ul">
      <li class="list-group-item">
        <ion-item no-padding class="border-0">
          <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
          <ion-label class="float-left">Beauty Service</ion-label>
        </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">AC Repair</ion-label>
            </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">Printers</ion-label>
            </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">Printer Repair</ion-label>
            </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">Pre Wedding Shoot</ion-label>
            </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">Portraits and portfolio shoots</ion-label>
            </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">Plumbers</ion-label>
            </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">Physiotherapy at home</ion-label>
            </ion-item>
      </li>
      <li class="list-group-item">
          <ion-item no-padding class="border-0">
              <ion-checkbox no-margin class="float-left mr-2"></ion-checkbox>
              <ion-label class="float-left">Pest control services</ion-label>
            </ion-item>
      </li>

    </ul>
    <!-- <ion-list class="list-group search-service-ul">
      <ion-item *ngFor="let entry of listOfServices">

        <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
        <ion-label>{{entry.categoryName}}</ion-label>
      </ion-item>
    </ion-list> -->
    <ion-row>
      <ion-col class="my-4">
        <button class="mx-auto button-main d-block" (click)="goToCatalogManagement()">Save & Continue</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>