<ion-content no-padding>
  <ion-grid no-padding class="head-grid inner-grid">
    <img src="../../assets/images/innerPage_header.png" alt="Background image">
    <a (click)="goToHomePage()">
      <img src="../../assets/images/backTohome.svg" class="backToHome" width="24" alt="Back to home">
    </a>
    <h2>Select a Service</h2>
  </ion-grid>
  <ion-grid padding class="content-grid-inner w-100">
    <ion-grid no-padding class="search-service-provide mb-0">
      <div class="serce-icon-c">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <ion-input placeholder="What service do you provide?" type="text"></ion-input>
    </ion-grid>
    <!-- <ul class="list-group search-service-ul">
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Beauty Service
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">AC Repair
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Printers
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Printer Repair
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Pre wedding shoot
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Portraits and portfolio shoots
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Plumbers
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Physiotherapy at home
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Pest control services
          </label>
        </div>
      </li>

    </ul> -->
    <ion-list class="list-group search-service-ul">
      <ion-item *ngFor="let entry of listOfServices">

        <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
        <ion-label>{{entry}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col class="my-4">
        <button class="mx-auto button-main d-block" (click)="contuine()">Save & Continue</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>